<h2 class="title title_size_xl">{{model.title}}</h2>

<form class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-2 control-label">Фамилия</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" ng-model="model.lector.lastname">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Имя</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" ng-model="model.lector.name">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Общая информация</label>
		<div class="col-sm-10">
			<textarea type="text" class="form-control" ng-model="model.lector.description" rows="8" resize="none"></textarea>
		</div>
	</div>
	<div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	    	<button class="btn btn-yellow" ng-if="!model.isSelect" ng-click="model.addLector(model.lector)" ng-disabled="!model.lector.name || !model.lector.lastname">Добавить</button>
			<button class="btn btn-yellow" ng-if="model.isSelect" ng-click="model.update(model.lector)" ng-disabled="!model.lector.name || !model.lector.lastname">Сохранить</button>
			<button  class="btn btn-default"ng-if="model.isSelect" ng-click="model.cancel()">Отменить</button>
	    </div>
	</div>
</form>


<div ng-if="model.lectors.length > 0">
	<h2 class="title title_size_xl">Лекторы</h2>

	<table class="table--default">
		<colgroup>
			<col width="200">
			<col width="*">
			<col>
			<col>
		</colgroup>
		<tbody>
			<tr ng-repeat="item in model.lectors">
				<td class="nowrap"><b>{{item.fullname}}</b></td>
				<td>{{item.description}}</td>
				<td class="td--button"><button class="btn btn-default" ng-click="model.select(item)"><i class="glyphicon glyphicon-pencil"></i></button></td>
				<td class="td--button"><button class="btn btn-default" ng-click="model.remove(item)"><i class="glyphicon glyphicon-trash"></i></button></td>
			</tr>
		</tbody>
	</table>
</div>