<h1>{{model.title}}</h1>
<hr>
<form class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-2 control-label">Наименование</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" ng-model="model.lecture.name" required>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Школа</label>
		<div class="col-sm-10">
			<select class="form-control" name="school" ng-model="model.lecture.idSchool" required>
				<option ng-repeat="school in model.schools" ng-value="{{school.id}}">{{school.name}} ({{school.students}})</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Лектор</label>
		<div class="col-sm-10">
			<select class="form-control" name="lector" ng-model="model.lecture.idLector" required>
				<option ng-repeat="lector in model.lectors" ng-value="{{lector.id}}">{{lector.fullname}}</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Аудитория</label>
		<div class="col-sm-10">
			<select class="form-control" name="room" ng-model="model.lecture.idRoom" required>
				<option ng-repeat="room in model.rooms" ng-value="{{room.id}}">{{room.name}} ({{room.capacity}})</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Дата</label>
		<div class="col-sm-10">
			<p class="input-group">
				<input type="text" class="form-control" ng-model="model.lecture.date" uib-datepicker-popup="dd.MM.yyyy" is-open="model.isLectureDateOpened" datepicker-options="model.dateOptions" ng-required="true" clear-text="Очистить" current-text="Сегодня" close-text="Закрыть" popup-placement="bottom-right"/>
				<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="model.openLectureDate()"><i class="glyphicon glyphicon-calendar"></i></button>
			  </span>
			</p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Начало лекции</label>
		<div class="col-sm-2">
			<div uib-timepicker ng-model="model.lecture.timeStart" hour-step="1" minute-step="5" show-meridian="false" arrowkeys="false" show-spinners="false"></div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Окончание лекции</label>
		<div class="col-sm-2">
			<div uib-timepicker ng-model="model.lecture.timeEnd" hour-step="1" minute-step="5" show-meridian="false" arrowkeys="false" show-spinners="false"></div>
		</div>
	</div>
	<div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default" ng-if="!model.isSelect" ng-click="model.addLecture(model.lecture)" ng-disabled="!model.isLectureFull()">Добавить</button>
			<button type="submit" class="btn btn-default" ng-if="model.isSelect" ng-click="model.update(model.lecture)" ng-disabled="!model.isLectureFull()">Сохранить</button>
			<button class="btn btn-default" ng-if="model.isSelect" ng-click="model.cancel()">Отменить</button>
	    </div>
	</div>
</form>


<h2>Расписание</h2>

<table class="table--shedule">
	<tbody>
		<tr ng-repeat="month in model.months">
			<td class="month__title" colspan="6"><span>{{month}}</span></td>
		</tr>
		<tr ng-repeat="lectures in model.schedule">
			<td colspan="6">
				<table class="table--lectures">
					<tbody>
						<tr ng-repeat="lecture in lectures">
							<td class="lecture__day">{{lecture.date | date: "dd"}}</td>
							<td class="lecture__title">{{lecture.name}}</td>
							<td class="lecture__speaker"><span class="link" ng-click="model.openLector(lecture.idLector)">{{lecture.lector}}</span></td>
							<td class="lecture__school">{{lecture.school}}</td>
							<td class="lecture__room"><span class="link" ng-click="model.openClassRoom(lecture.idRoom)">{{lecture.room}}</span></td>
							<td class="lecture__time">{{lecture.timeStart | date: "HH:mm"}} - {{lecture.timeEnd | date: "HH:mm"}}</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr ng-if="model.schedule.length === 0">
			<td colspan="6">Лекций нет</td>
		</tr>
	</tbody>
</table>
