<h1>{{model.title}}</h1>
<p>Наименование:</p>
<input type="text" ng-model="model.lecture.name">
<p>Школа:</p>
<select name="school" ng-model="model.lecture.school">
	<option ng-repeat="school in model.schools" value="{{school.id}}">{{school.name}}</option>
</select>
<p>Лектор:</p>
<select name="lector" ng-model="model.lecture.lector">
	<option ng-repeat="lector in model.lectors" value="{{lector.id}}">{{lector.name}}</option>
</select>
<p>Аудитория:</p>
<select name="room" ng-model="model.lecture.room">
	<option ng-repeat="room in model.rooms" value="{{room.id}}">{{room.name}}</option>
</select>
<p>Дата:</p>
<input type="text" ng-model="model.lecture.date">

<p ng-if="model.message">{{model.message}}</p>

<hr>

<button ng-if="!model.isSelect" ng-click="model.addLecture(model.lecture)" ng-disabled="!model.lecture.name">Добавить</button>
<button ng-if="model.isSelect" ng-click="model.update(model.lecture)" ng-disabled="!model.lecture.name">Сохранить</button>
<button ng-if="model.isSelect" ng-click="model.cancel()">Отменить</button>
<h4>Лекции</h4>
<table>
	<tbody>
		<tr ng-repeat="lecture in model.schedule">
			<td>{{lecture.name}}</td>
			<td>{{lecture.lecture}}</td>
			<td><button ng-click="model.remove(lecture)">x</button></td>
			<td><button ng-click="model.select(lecture)">редактировать</button></td>
		</tr>
	</tbody>
</table>
