<h1>Добавить новую аудиторию</h1>
<p>Наименование:</p>
<input type="text" ng-model="model.room.name">
<p>Вместимость:</p>
<input type="text" ng-model="model.room.students">
<p>Описание:</p>
<input type="text" ng-model="model.room.description">
<p ng-if="model.message">{{model.message}}</p>
<hr>
<button ng-click="model.addClassRoom(model.room)" ng-disabled="!model.room.name || !model.room.students">Добавить</button>
<h4>Аудитории</h4>
<table>
	<tbody>
		<tr ng-repeat="room in rooms">
			<td>{{room.name}}</td>
			<td>{{room.students}}</td>
			<td><button ng-click="model.remove(room)">x</button></td>
		</tr>
	</tbody>
</table>
