<div class="shedule__container">
	<div class="header-page">
		<h2 class="title title_size_xl">Внесение изменений</h2>
		<ul class="nav-sub">
			<li class="nav-sub__item" ui-sref-active="active"><a class="nav-sub__link" ui-sref="admin.schedule">Лекции</a></li>
			<li class="nav-sub__item" ui-sref-active="active"><a class="nav-sub__link" ui-sref="admin.lectors">Лекторы</a></li>
			<li class="nav-sub__item" ui-sref-active="active"><a class="nav-sub__link" ui-sref="admin.schools">Школы</a></li>
			<li class="nav-sub__item" ui-sref-active="active"><a class="nav-sub__link" ui-sref="admin.class-rooms">Аудитории</a></li>
		</ul>
	</div>
	<ui-view></ui-view>
</div>

<toast></toast>