.header__navbar {
	position: relative;
	display: block;
	background-color: #E61400;
	padding: 0 44px;
	color: #fff;
    height: 70px;
    border-radius: 0 !important;
    text-align: center;
}

.navbar__panel {
	text-align: center;
	.navbar__item {
		letter-spacing: 3px;
	    text-transform: uppercase;
	    opacity: .6;
	    height: 70px;
	    line-height: 70px;
	    font-size: 14px;
	    margin: 0 21px;
	    display: inline-block;
	    vertical-align: top;
	    transition: opacity .15s ease-in-out;
	    cursor: pointer;
	    &:hover {
	    	opacity: .8;
	    }
	    &.active {
	    	opacity: 1;
	    }
	}
}

.navbar__exit {
	position: absolute;
	top: 50%;
	right: 44px;
	transform: translateY(-50%);
	> * {
		letter-spacing: 3px;
	    text-transform: uppercase;
	    opacity: .6;
		height: 70px;
	    line-height: 70px;
	    font-size: 14px;
	    margin: 0 4px;
	    display: inline-block;
	    vertical-align: top;
	    transition: opacity .15s ease-in-out;
	    cursor: pointer;
	    &:hover {
	    	opacity: .8;
	    }
	}
}