<div class="navbar header__navbar">
	<a class="ya-logo" href="https://yandex.ru">Яндекс</a>
	<ul class="navbar__panel">
		<li class="navbar__item" ng-click="model.linkTo('home')" ng-class="{'active': model.isActive('home')}">
			Расписание
		</li>
		<li class="navbar__item" ng-if="model.isLogin" ng-click="model.linkTo('admin')" ng-class="{'active': model.isActive('admin')}">
			Управление
		</li>
		<li class="navbar__item" ng-if="!model.isLogin" ng-click="model.linkTo('login')" ng-class="{'active': model.isActive('login')}">
			Вход
		</li>
	</ul>
	<div class="navbar__exit">
		<span ng-if="model.isLogin" ng-click="model.logout()">Выход</span>
	</div>
</div>