<!DOCTYPE html>
<html ng-app="schedule">
	<head>
		<meta charset="UTF-8">
		<title><%= title %></title>
		<link type="text/css" rel="stylesheet" href="index.css">
	</head>
	<body>
		<main-header is-login="<%= isLogin %>"></main-header>
		<ui-view></ui-view>
		<script src="bundle.js" charset="utf-8"></script>
	</body>
</html>